<?js var data = obj; ?>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>JSDoc: <?js= title ?></title>

    <!--[if lt IE 9]>
      <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <script type="text/javascript" src="js/syntaxhighlighter/scripts/shCore.js"></script>
    <script type="text/javascript" src="js/syntaxhighlighter/scripts/shBrushJScript.js"></script>
    <link type="text/css" rel="stylesheet" href="js/syntaxhighlighter/styles/shCoreEclipse.css"/>

    <link type="text/css" rel="stylesheet" href="js/jquery-multi-open-accordion/css/jquery-ui-1.8.9.custom/jquery-ui-1.8.9.custom.css" />
    <script type="text/javascript" src="js/jquery-multi-open-accordion/jquery-1.4.3.min.js"></script>
    <script type="text/javascript" src="js/jquery-multi-open-accordion/jquery-ui-1.8.13.custom.min.js"></script>
    <script type="text/javascript" src="js/jquery-multi-open-accordion/jquery.multi-accordion-1.5.3.js"></script>

    <script type="text/javascript" src="js/jquery-cookie/jquery.cookie.js"></script>

    
    <link type="text/css" rel="stylesheet" href="styles/atombox.css">
</head>

<body>

  <div id="main">

    <h1 class="page-title"><?js= title ?></h1>

    <?js= content ?>
</div>

<script type="text/javascript">SyntaxHighlighter.all();</script>


</body>
</html>
